<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head', { title: title}) %>
  <body>
    <%- include('./partials/navBar') %>
    <div class="messageContainer">
      <% messages.forEach((message) => { %>
      <div class="message">
        <h1><%= message.user %></h1>
        <h2><%= message.added %></h2>
        <p><%= message.text %></p>
      </div>
      <a
        href=" <%=`/${message.user}/${message.added}/${message.text}` %> "
        class="messageBtn"
        >Open message</a
      >
      <% }) %>
    </div>
  </body>
</html>
